:root {
    --custom-fs-base: 1rem;
    --custom-fs-micro: calc(var(--custom-fs-base) * 0.7);
    --custom-fs-nano: calc(var(--custom-fs-base) * 0.6);
    --custom-fs-double: calc(var(--custom-fs-base) * 4);
    --custom-fs-quarter-rem: calc(var(--custom-fs-base) / 1.1);
}

.custom-icon-sm {
    font-size: calc(var(--custom-fs-base) * 1.5) !important;
}

.custom-icon-md {
    font-size: calc(var(--custom-fs-base) * 2) !important;
}

.custom-fs-micro {
    font-size: var(--custom-fs-micro) !important;
}

.custom-fs-nano {
    font-size: var(--custom-fs-nano) !important;
}

.custom-fs-double {
    font-size: var(--custom-fs-double) !important;
}

.custom-fs-quarter-rem {
    font-size: var(--custom-fs-quarter-rem) !important;
}